.nav-container {
    margin: 50px;
}

.navbar-brand-custom {
    font-weight: 600;
    font-size: medium;
    /* color: #4C6EF5 !important; */
}

.nav-link-custom {
    position: relative;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 500;
    color: #111827;
    text-decoration: none;
}

.nav-link-custom:hover {
    color: #4C6EF5;
}

.nav-link-active {
    color: #4C6EF5 !important;
}

.nav-underline {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #4C6EF5;
    border-radius: 2px;
}